<app-simple-card title="Registrar Paciente">
    <form (ngSubmit)="onSubmit()" #nuevoIngresoForm="ngForm">
          <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
      <!-- USUARIO -->
      <div class="mb-2">
        <label class="form-label" for="name">Usuario</label>
        <input type="text" id="name" class="form-control" placeholder="Usuario" (input)="onInputChange()" required
          [(ngModel)]="name" name="name" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="email">Correo Electrónico</label>
        <input type="email" id="email" class="form-control" placeholder="tucorreo@example.com" (input)="onInputChange()"
          required [(ngModel)]="email" name="email" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" placeholder="Contraseña" (input)="onInputChange()" required
          [(ngModel)]="password" name="password" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="password_confirmation">Confirmar Contraseña</label>
        <input type="password" id="password_confirmation" class="form-control" placeholder="Confirmar contraseña"
          (input)="onInputChange()" required [(ngModel)]="password_confirmation" name="password_confirmation" />
      </div>
  
      <!-- PERSONA -->
      <div class="mb-2">
        <label class="form-label" for="nombre">Nombre(s)</label>
        <input type="text" id="nombre" class="form-control" placeholder="Nombre(s)" (input)="onInputChange()" required
          [(ngModel)]="nombre" name="nombre" />
      </div>
  
      <div class="row">
        <div class="col-6 col-md-6 mb-2">
          <label class="form-label" for="apellido_paterno">Apellido paterno</label>
          <input type="text" id="apellido_paterno" class="form-control" placeholder="Apellido paterno"
            (input)="onInputChange()" required [(ngModel)]="apellido_paterno" name="apellido_paterno" />
        </div>
        <div class="col-6 col-md-6 mb-2">
          <label class="form-label" for="apellido_materno">Apellido materno</label>
          <input type="text" id="apellido_materno" class="form-control" placeholder="Apellido materno"
            (input)="onInputChange()" required [(ngModel)]="apellido_materno" name="apellido_materno" />
        </div>
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="sexo">Sexo</label>
        <select id="sexo" class="form-control" required [(ngModel)]="sexo" name="sexo">
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="M">Masculino (M)</option>
          <option value="F">Femenino (F)</option>
        </select>
      </div>
  
      <!-- PACIENTE -->
      <div class="mb-2">
        <label class="form-label" for="nacimiento">Fecha de Nacimiento</label>
        <input type="date" id="nacimiento" class="form-control" (input)="onInputChange()" required
          [(ngModel)]="nacimiento" name="nacimiento" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="nss">Número de Seguro Social (NSS)</label>
        <input type="text" id="nss" class="form-control" placeholder="NSS" (input)="onInputChange()" required
          [(ngModel)]="nss" name="nss" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="direccion">Dirección</label>
        <input type="text" id="direccion" class="form-control" placeholder="Dirección" (input)="onInputChange()" required
          [(ngModel)]="direccion" name="direccion" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="tel_1">Teléfono 1</label>
        <input type="text" id="tel_1" class="form-control" placeholder="Teléfono 1" (input)="onInputChange()" required
          [(ngModel)]="tel_1" name="tel_1" />
      </div>
  
      <div class="mb-2">
        <label class="form-label" for="tel_2">Teléfono 2</label>
        <input type="text" id="tel_2" class="form-control" placeholder="Teléfono 2" (input)="onInputChange()"
          [(ngModel)]="tel_2" name="tel_2" />
      </div>
  
      <!-- MENSAJE DE ERROR -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
  
      <!-- BOTÓN DE ENVÍO -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="!nuevoIngresoForm.form.valid">
          Registrar Paciente
        </button>
      </div>
    </form>
  </app-simple-card>