<app-simple-card title="Verifica tu cuenta">
    <div *ngIf="mensaje" class="alert alert-info">
        {{ mensaje }}
    </div>

    <div *ngIf="!verified">
        <h2>Verificación de Email</h2>
        <input [(ngModel)]="verificationCode" placeholder="Ingresa tu código">
        <button (click)="verify()">Verificar</button>
      </div>
      <div *ngIf="verified">
        <h2>¡Cuenta verificada!</h2>
      </div>
  
    ¿Problemas? <a routerLink="/reenvio-verificacion">Volver a recibir código</a>

</app-simple-card>