<app-simple-card title="Entrar">
  <div *ngIf="registroExitoso" class="alert alert-success">
    ¡Registro exitoso! Por favor, revisa tu correo electrónico para activar tu cuenta.
  </div>

  <form (ngSubmit)="onSubmit()" (input)="onInputChange()">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input class="form-control" type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
      <button *ngIf="showResendButton" (click)="resendActivationEmail()" class="btn btn-link">
        Reenviar correo de activación
      </button>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
    </div>
  </form>
  ¿No tienes cuenta? <a routerLink="/registrarse">Regístrate</a>
</app-simple-card>
