<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand"><a routerLink="inicio" class="nav-link">Grey-Sloan Memorial</a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <!--offline-->
      <li class="nav-item active" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/entrar" class="nav-link">Entrar</a>
      </li>

      <!--online-->
      
      <!--
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="perfil" class="nav-link">Perfil</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="pacientes" class="nav-link">Pacientes</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="ingresos" class="nav-link">Ingresos</a>
      </li>
      -->

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="camas" class="nav-link">Camas</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="diagnosticos" class="nav-link">Diagnósticos</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="areas" class="nav-link">Áreas</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="historial" class="nav-link">Historial</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="estudios" class="nav-link">Estudios</a>
      </li>

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a routerLink="tipos-personal" class="nav-link">Tipos de personal</a>
    </li>

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a routerLink="tipos-de-estudio" class="nav-link">Tipos de estudios</a>
    </li>
  </ul>

    <ul class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn()">
      
      <li class="nav-item">
        <span class="nav-link">Bienvenido, {{ username }}</span>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link"></a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link"></a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link"></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" (click)="logout()">Salir</a>
      </li>
    </ul>
  </div>
</nav>