<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand"><a routerLink="inicio" class="nav-link">Grey-Sloan Memorial</a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <!--offline-->
      <li class="nav-item active" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/entrar" class="nav-link">Entrar</a>
      </li>

      <!--online-->

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="pacientes" class="nav-link"><span class="material-icons">sentiment_very_dissatisfied</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="ingresos" class="nav-link"><span class="material-icons">sick</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="camas" class="nav-link"><span class="material-icons">bed</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="diagnosticos" class="nav-link"><span class="material-icons">coronavirus</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="areas" class="nav-link"><span class="material-icons">map</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="historial" class="nav-link"><span class="material-icons">history</span></a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="estudios" class="nav-link"><span class="material-icons">description</span></a>
      </li>

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a routerLink="tipos-personal" class="nav-link"><span class="material-icons">work</span></a>
    </li>

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a routerLink="tipos-de-estudio" class="nav-link"><span class="material-icons">favorite</span></a>
    </li>

    <li class="nav-item" *ngIf="authService.isAdmin()">
      <a routerLink="logs" class="nav-link"><span class="material-icons">info</span></a>
    </li>

    <li class="nav-item" *ngIf="authService.isAdmin()">
      <a routerLink="users" class="nav-link"><span class="material-icons">group</span></a>
    </li>
  </ul>

    <ul class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn()">
      
      <li class="nav-item">
        <span class="nav-link">Bienvenido, {{ username }}</span>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="perfil" class="nav-link"><span class="material-icons">person</span></a>
      </li>

      <app-notifications></app-notifications>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" (click)="logout()"><span class="material-icons">logout</span></a>
      </li>
    </ul>
  </div>
</nav>