<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand"><a routerLink="inicio" class="nav-link">Grey-Sloan Memorial</a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <!--only appears if you're offline-->
      <li class="nav-item active" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/entrar" class="nav-link">Entrar</a>
      </li>

      <!--only appears if you're online-->
      
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="perfil" class="nav-link">Perfil</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="ingresos" class="nav-link">Ingresos</a>
      </li>
      <!--
      diagnósticos crud
      historial crud
      -->

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a routerLink="estudios" class="nav-link">Estudios</a>
      </li>
      <!--
      estudios crud
      -->

      <!--only appears if you're administrator-->
      <li class="nav-item" *ngIf="authService.isAdmin()">
        <a routerLink="gestion" class="nav-link">Gestión</a>
      </li>

      <!--
      areas crud
      camas crud
      tipos de personal 
      personal&pacientes read ALL
      personal&pacientes delete
      personal update their tipos de personal
      tipo de estudio crud
      -->
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link">.................</a>

      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" (click)="logout()">Salir</a>

    </ul>
  </div>
</nav>