html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E0E1DD !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #0D1B2A !important; 
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: #415A77;
    text-decoration: underline;
}

/* ALERTAS */
.alert.alert-info {
    background-color: #775E41;
    color: white;
    border-color: #775E41;
}

/* Estilos para lo forms */
div.form-group {
    margin-bottom: 1rem; /* Espacio entre los elementos del formulario */
}