<div class="profile">
    <img [src]="profile.photo" alt="Foto de {{profile.name}}" style="max-width: 100px; border-radius: 50%;">
    <h2>{{ profile.name }}</h2>
    <p>ID: {{ profile.id }}</p>
    <p>City: {{ profile.city }}</p>
  </div>

<!-- EJEMPLO INFERFACES SENCILLAS
<div>
    <img [src]="instanciaProfile.photo" alt="Profile Photo" style="max-width: 100%;">
    <h2>{{ instanciaProfile.name }}</h2>
    <p>ID: {{ instanciaProfile.id }}</p>
    <p>City: {{ instanciaProfile.city }}</p>
  </div>
-->

<!--EJEMPLO 1
<div>
    <h1>{{ mensaje }}</h1>
</div>
-->

<!--EJEMPLO BOOSTRAP
<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">{{ mensaje }}</h1>
</div>
-->

<!--EJEMPLO INTERFCES

<div>
    <h2>{{ instanciaProfile.name }}</h2>
    <p>ID: {{ instanciaProfile.id }}</p>
    <p>City: {{ instanciaProfile.city }}</p>
    <img [src]="instanciaProfile.photo" alt="Profile Photo" style="max-width: 100%;">
  </div>

-->


